:root {
    --page-width: 1024px;
    --page-height: 1024px;
}

.pageWrapper {
    height: var(--page-height);
    width: var(--page-width);
    position: relative;
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.info {
    height: 64px;
}

.content {
    flex-grow: 1;
}

.actions {
    display: flex;
    gap: 32px;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}