.root {
    display: flex;
}

.root_fullWidth {
    width: 100%;
    justify-content: space-between;
    gap: 16px;
}

.control {
}

.control_selected {
    border-color: grey;
    border-radius: 2px;
}

.gap-m {

}